@media screen and (max-width: 1025px) {
    .featured-image {
        width: 100%;
    }
    .navBardemoBasicUsage md-content .ext-content {
        padding: 50px 10px;
        margin: 0;
    }
}
@media screen and (max-width: 900px) {

    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px; /*250+45-6*/
    }
}
@media screen and (max-width: 600px) {
    .featured-image {
        width: 80%;
    }
    .left-d {
        display: none;
    }
    .right-d {
        width: 90%;
    }
    p.quote {
        margin: 1% 0px;
        padding: 20px 0 0 0px;
    }
    .timeline ul  {
        -webkit-padding-start: 0;
    }
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #d0c5cc transparent transparent;
    }
    .timeline ul li:nth-child(even) div::before {
        border-color: transparent #d0c5cc transparent transparent;
    }
}


@media screen and (min-width: 500px) and (max-width: 605px) {
    .bars p {
        margin: 20px 0 0 20%;
    }
}